<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Homomorphic Encryption</title>
 
  
</head>

<body>
 <div>
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('customerEncryption')}}"method="post">
    	<input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="Healthy Eating" placeholder="Healthy Eating" required="required" />
		<input type="text" name="Active lifestyle" placeholder="Active lifestyle" required="required" />
        <input type="text" name="Gender" placeholder="Gender" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
 </div>


</body>
</html>